body{
    background-color: rgb(255, 223, 196);
    color: rgb(231, 126, 100);
}

h1{
    color: rgb(233, 53, 53);
    font-size: 35px;
}   

p{
   color:rgb(243, 200, 143);
    font-size: 20px;
}

header{
   border-bottom: solid 2px rgb(241, 189, 189);
   font-size: 40px;
   color:rgb(243, 127, 127);
   padding: 15px;
}